<?xml version="1.0"?>
<robot name="hoverboard_robot" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="materials.xacro" />
    <xacro:include filename="macros.xacro" />
    <xacro:include filename="wheels.xacro" />
    <xacro:include filename="ros2_control.xacro" />
    <xacro:include filename="lidar.xacro" />

    <xacro:property name="plate_length" value="0.7" />
    <xacro:property name="plate_width" value="0.4" />
    <xacro:property name="plate_height" value="0.02" />

    <xacro:property name="chassis_weight" value="1.0" />

    <xacro:property name="driving_wheel_diameter" value="0.165" />
    <xacro:property name="driving_wheel_thickness" value="0.045" />
    <xacro:property name="driving_wheel_weight" value="2.2" />

    <xacro:property name="caster_wheel_diameter" value="0.09" />
    <xacro:property name="caster_wheel_weight" value="0.1" />

    <link name="base_link">
    </link>

    <link name="plate">
        <visual>
            <origin xyz="0.35 0 0.01"/>
            <geometry>
                <box size="0.7 0.4 0.02"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <collision>
            <origin xyz="0.35 0 0.01"/>
            <geometry>
                <box size="0.7 0.4 0.02"/>
            </geometry>
        </collision>
        <xacro:box_inertia mass="5" x="0.7" y="0.4" z="0.02">
            <origin xyz="0 0 0.01" rpy="0.0 0.0 0.0"/>
        </xacro:box_inertia>
    </link>

    <joint name="base_link_plate_joint" type="fixed">
        <origin xyz="0 0 0"/>
        <parent link="base_link" />
        <child link="plate" />
    </joint>



    <xacro:driving_wheel suffix="left" reflect="1"/>
    <xacro:driving_wheel suffix="right" reflect="-1"/>

    <xacro:caster_wheel suffix="back" reflect="1" />

    <xacro:hoverboard_ros2_control name="Hoverboard" />

</robot>
