<?xml version="1.0"?>
<robot name="hoverboard_robot" xmlns:xacro="http://ros.org/wiki/xacro">

    <joint name="magnetometer_link_joint" type="fixed">
        <parent link="plate"/>
        <child link="magnetometer_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="magnetometer_link">

        <visual>
            <geometry>
                <box size="0.02 0.02 0.01"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <collision>
            <contact_coefficients mu="100.0" kp="0.0" kd="0.0" />
            <geometry>
                <box size="0.02 0.02 0.01"/>
            </geometry>
        </collision>
    </link>

</robot>
